.button__caption{
  margin-top: 32px;
}

.button{
  border: none;
  color: #FFFFFF;
  font-family: $btnFont;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s background-color;
  &:hover, &:focus{
    outline: none;
  }
}

.button_theme-default{
  background-color: $btnColor1;
  box-shadow: 0 8px 24px 0 rgba(0,52,80,0.32);
  &:hover{
    background-color: #2375b6;
  }
  &:active{
    background-color: #15507d;
  }
}

.button_size-m{
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 20px 25px;
  border-radius: 8px;
}

.button_w-100{
  width: 100%;
}

.button_theme-transparent{
  background-color: transparent;
  color: $btnColor2;
  text-transform: uppercase;
}
