.button__caption{
  margin-top: 32px;
}

.button{
  border: none;
  color: #FFFFFF;
  font-family: $btnFont;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s background-color;
  &:hover, &:focus{
    outline: none;
  }
}

.button_theme-default{
  background-color: $btnColor1;
  box-shadow: 0 8px 24px 0 rgba(0,52,80,0.32);
  &:hover{
    background-color: lighten($btnColor1, 10%);
  }
  &:active{
    background-color: darken($btnColor1, 10%);
  }
}

.button_size-m{
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 20px 25px;
  border-radius: 8px;
  @media (max-height: $xsMaxHeight) {
    padding: 15px 20px;
  }
  @media (max-height: $xxsMaxHeight) {
    padding: 10px 20px;
    font-size: 15px;
  }

}
.button_size-m-report-page{
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 25px;
  @media (max-height: $xsMaxHeight) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  @media (max-height: $xxsMaxHeight) {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
.button_w-100{
  width: 100%;
}

.button_theme-transparent{
  background-color: transparent;
  color: $btnColor2;
  text-transform: uppercase;
}

.button_theme-transparent-default{
  background-color: transparent;
  color: $btnColor1;
  text-transform: uppercase;
}
