.mb-1{
  margin-bottom: 8px;
}
.mb-2{
  margin-bottom: 12px;
}
.mb-3{
  margin-bottom: 16px;
}
.mb-4{
  margin-bottom: 24px;
}
.mb-5{
  margin-bottom: 32px;
}
.mb-6{
  margin-bottom: 40px;
}

.mt-1{
  margin-top: 8px;
}
.mt-2{
  margin-top: 12px;
}
.mt-3{
  margin-top: 16px;
}
.mt-4{
  margin-top: 24px;
}
.mt-5{
  margin-top: 32px;
}
.mt-6{
  margin-top: 40px;
}

.m-0{
  margin: 0;
}
