.questions-item{
  margin-bottom: 24px;
  &.ghost{
    opacity: 0;
  }
  &.active{
    .questions-item__content{
      border-color: $mnColor2;
      background-color: $mnColor3;
      box-shadow: 0 4px 16px 0 rgba(0,93,145,0.32);
    }
  }
}
.questions-item__content{
  position: relative;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);
  padding: 16px 53px 16px 24px;
  color:$txtColor2;
  font-family: $defaultFont;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  border: 1px solid transparent;
}
.questions-item__icon-checked{
  position: absolute;
  right: 24px;
  top: 28px;
}
.questions-list__title{
  margin-bottom: 24px;
}
.questions-list{
  margin-bottom: 32px;
}
.questions__text{
  margin-bottom: 40px;
}
.questionsDrag__title{
  margin-bottom: 40px;
}
