// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/modal";

@import "text";
@import "buttons";
@import "form";
@import "question";
@import "modal";
@import "indents";

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.main{
  width: 100%;
  height: 100%;
}

.main__content{
  width: 100%;
  min-height: 100%;
  padding: 100px 24px 30px;
}

.report{
  background-color: $bgColor2;
}

.bg-1{
  background-color: $bgColor1;
}
.bg-2{
  background-color: $bgColor2;
}
.bg-3{
  background-color: $bgColor3;
}
.bg-4{
  background-color: $bgColor4;
}
.bg-5{
  background-color: $bgColor5;
}
