@import "text";
@import "buttons";
@import "form";
@import "question";

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.main{
  width: 100%;
  height: 100%;
}

.main__content{
  width: 100%;
  min-height: 100%;
  padding: 100px 24px 30px;
}

.report{
  background-color: $bgColor2;
}
