//Fonts
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-display: swap;
//  src: local('Roboto'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
//  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$defaultFont: 'Lato', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$btnFont: 'Montserrat', sans-serif;

// General Color
$mnColor1: #333;
$mnColor2: #009AF0;
$mnColor3: #DAF0FD;

//Background color
$bgColor1: #E8F2FF;
$bgColor2: #f9fdff;
$bgColor3: #d6e7ff;
$bgColor4: #deffed;
$bgColor5: #d2d2ef;

//Text color
$txtColor1: #333;
$txtColor2: #666;
$txtColor3: #999;
$txtColorDanger: #f05000;

//Link color
$lnkColo1: #666;

//Button color
$btnColor1: #009AF0;
$btnColor2: #333;

//Form
//Input
$formInputBorderRadius: 4px;
$formInputBorderColor: #ddd;
$formInputBorderDangerColor: #f05000;
$formInputColor: #999;

//ProgressBar
$progressBarBg: #009AF0;
