//Fonts
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-display: swap;
//  src: local('Roboto'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
//  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$defaultFont: 'Lato', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$btnFont: 'Montserrat', sans-serif;

//Background card
$bgCardColor1: rgba(255, 132, 132, 0.76);
$bgCardColor2: rgba(0, 143, 201, 0.67);
$bgCardColor3: #ffc000;

//Background card hover
$bgCardHoverColor1: rgba(228, 114, 114, 0.99);
$bgCardHoverColor2: #009ed5;
$bgCardHoverColor3: #f7b700;

// General Color
$mnColor1: #333;
$mnColor2: #3A9CCD;
$mnColor3: rgba(0, 193, 255, 0.42);

//Background color
$bgColor1: #fdf9fe;
$bgColor2: #f9fdff;
$bgColor3: #d6e7ff;
$bgColor4: #deffed;
$bgColor5: #d2d2ef;

//Text color
$txtColor1: #333;
$txtColor2: #666;
$txtColor3: #999;
$txtColor4: #999;
$txtColor5: #ffffff;
$txtColorDanger: #f05000;

//Link color
$lnkColo1: #666;
$lnkColor2: #3A9CCD;

//Button color
$btnColor1: #3A9CCD;
$btnColor2: #333;

//Form
//Input
$formInputBorderRadius: 4px;
$formInputBorderColor: #ddd;
$formInputBorderDangerColor: #f05000;
$formInputColor: #999;

//ProgressBar
$progressBarBg: #3A9CCD;
$progressBarAllFieldBg: #E9DCF3;

//Responsive
$xsMaxHeight: 668px;
$xxsMaxHeight: 580px;

//star color
$starActiveColor: #3A9CCD;
$starBorderColor: #3A9CCD;

$md-gap: 24px;

:export{
  starActiveColor: $starActiveColor;
  starBorderColor: $starBorderColor;
}
